body {
  font-family: "Overpass", Helvetica, sans-serif;
  font-weight: 400;
  color:#3c3c3c;
  background: #f4e4e0;
  }

body .gui, body .gui-block-linklist li a, body .gui a.gui-button-large, body .gui a.gui-button-small {
  color:#3c3c3c;
}

a, .stock>div, .label, .selectric-items li, .selectric-items li:hover, .selectric-items li.highlighted, .selectric-items li.selected, .selectric .label, input[type="text"], input[type="text"]:focus, input[type="email"], input[type="email"]:focus, input[type="url"], input[type="url"]:focus, input[type="password"], input[type="password"]:focus, input[type="search"], input[type="search"]:focus, input[type="number"], input[type="number"]:focus, input[type="tel"], input[type="tel"]:focus, input[type="range"], input[type="range"]:focus, input[type="date"], input[type="date"]:focus, input[type="month"], input[type="month"]:focus, input[type="week"], input[type="week"]:focus, input[type="time"], input[type="time"]:focus, input[type="datetime"], input[type="datetime"]:focus, input[type="datetime-local"], input[type="datetime-local"]:focus, input[type="color"], input[type="color"]:focus, textarea, textarea:focus, .nav-style li>ul li a, .nav-style li li.has-child:after, .mega-menu-open .mega-menu-header, .mega-menu-open .mega-menu-header a, body.hotspot-modal-tm-1 .snpt-modal.hotspot-modal .public-item-modal div, .wsa-cookielaw, .dark-background .gui-block-linklist li a, .dark-background .gui-form label, .dark-background .gui a.gui-button-large, .dark-background .gui a.gui-button-small, .dark-background .gui-form label span.gui-nostyle, .gui ul.gui-products li .gui-products-title a, .gui a.gui-bold, .gui-table thead tr th, .gui-number .gui-value input, .collection-actions select, .page-content .yotpo span.yotpo-logo-title a, .page-content .yotpo .text-box, .page-content .yotpo .yotpo-text-box, .page-content .yotpo input, .page-content .yotpo .y-input, .page-content .yotpo .yotpo-review .yotpo-main .content-review, .yotpo .yotpo-comment .yotpo-main .content-review, .page-content .yotpo .yotpo-question .yotpo-main .content-review, .page-content .yotpo .yotpo-onsite-upload .yotpo-main .content-review, .page-content .yotpo .yotpo-review .yotpo-main .content-title, .page-content .yotpo .yotpo-comment .yotpo-main .content-title, .page-content .yotpo .yotpo-question .yotpo-main .content-title, .page-content .yotpo .yotpo-onsite-upload .yotpo-main .content-title, .page-content .yotpo .yotpo-review .yotpo-main .content-title, .page-content .yotpo .yotpo-comment .yotpo-main .content-title, .page-content .yotpo .yotpo-question .yotpo-main .content-title, .page-content .yotpo .yotpo-onsite-upload .yotpo-main .content-title, .page-content .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span, .page-content .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .page-content .yotpo .yotpo-comment .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .page-content .yotpo .yotpo-question .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .page-content .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .page-content .yotpo .yotpo-review .yotpo-read-more, .page-content .yotpo .yotpo-comment .yotpo-read-more, .page-content .yotpo .yotpo-question .yotpo-read-more, .page-content .yotpo .yotpo-onsite-upload .yotpo-read-more, .page-content .yotpo.yotpo-main-widget .yotpo-icon-btn .yotpo-icon-button-text, .page-content .yotpo .yotpo-modal-dialog .yotpo-icon-btn .yotpo-icon-button-text, .page-content .yotpo .y-label, .page-content .yotpo label.y-label, .page-content .yotpo .yotpo-default-button, .page-content .yotpo input[type="button"].yotpo-default-button, .page-content .yotpo .yotpo-default-button:hover, .page-content .yotpo input[type="button"].yotpo-default-button:hover, body .gui-checkout .gui-progressbar ul li.gui-active a, body .gui-form label span, body .gui-input input, body .gui-number input, body .gui-text textarea, body .gui-select .gui-value, .ajax-enabled .results-count, .ajax-enabled .search-result-item, .ajax-enabled .search-result-item a, .ajax-enabled .search-empty {
  color:#3c3c3c;
}

.page-content .yotpo a {
  color:#3c3c3c !important;
}

@media (max-width: 600px) {
  .hero .hero-content a, .hero .hero-content h1, .hero .hero-content h2, .hero .hero-content p {
    color:#3c3c3c;
	}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#3c3c3c;
    opacity:  .6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#3c3c3c;
   opacity:  .6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#3c3c3c;
   opacity:  .6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#3c3c3c;
  opacity:  .6;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:#3c3c3c;
  	opacity:  .6;
}

.nav-style li > ul, .mobile-nav-overlay, .cart-sidebar-container .cart-sidebar, .featherlight .featherlight-content, .product-actions .product-actions-items, .products-list.slick-slider:before, .products-list.slick-slider:after, .small-product-actions a, body .gui-popover-content, body .gui-progressbar, .grtyoutube-dark-theme .grtyoutube-popup-content {
  background: #f4e4e0;
}

.featured-categories .categories a figure, .collection-sidebar, .wsa-cookielaw, .page-content .yotpo .yotpo-review .yotpo-header .yotpo-icon-profile .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-comment .yotpo-header .yotpo-icon-profile .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-question .yotpo-header .yotpo-icon-profile .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-icon-profile .yotpo-icon-circle-checkmark, .ajax-enabled .search-results, .ajax-enabled .results-count {
  background-color: #f4e4e0;
}

body.hotspot-modal-tm-1 .snpt-modal.hotspot-modal .modal-content {
  background-color: #f4e4e0 !important;
}

body .hotspot-modal, .wsa-cookielaw, .page-content .yotpo div, .page-content .yotpo span, .page-content .yotpo p, .page-content .yotpo a, .page-content .yotpo img, .page-content .yotpo i, .page-content .yotpo strong, .page-content .yotpo sup, .page-content .yotpo ul, .page-content .yotpo li, .page-content .yotpo form, .page-content .yotpo label, .page-content .yotpo input, .page-content .yotpo .y-input, .page-content .yotpo .text-box, .page-content .yotpo .yotpo-text-box {
  font-family: "Overpass", Helvetica, sans-serif;
  font-weight: 400;
  color:#3c3c3c;
}
body .public-hotspot--username {
  font-family: "Cardo", Helvetica, sans-serif;
  color:#3c3c3c;
  font-weight: 400;
}

.nav-style li>ul:before {
  border-bottom-color: #f4e4e0;
}

.tabs-nav li.active a, .categories-list li.active a, .nav-style li.active a, .secondary-style input[type="text"], .secondary-style input[type="email"], .secondary-style input[type="url"], .secondary-style input[type="password"], .secondary-style input[type="search"], .secondary-style input[type="number"], .secondary-style .secondary-style input[type="tel"], .secondary-style input[type="range"], .secondary-style input[type="date"], .secondary-style input[type="month"], .secondary-style input[type="week"], .secondary-style input[type="time"], .secondary-style input[type="datetime"], .secondary-style input[type="datetime-local"], .secondary-style input[type="color"], .nav-style.main-nav li a:after, .mega-menu-open .content-light .nav-style.main-nav li a:after, .page-content .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper {
  border-color: #3c3c3c;
}

.dark-background .product-meta, .dark-background .product-intro, .dark-background .single-product-details, .dark-background .quantity-selector, .dark-background .collection-products .collection-sidebar, .dark-background .collection-products, .dark-background .product-actions .product-actions-items, .dark-background .product-modal .product-modal-content .price, .dark-background .gui-block-title, .dark-background .gui-block, .dark-background .featured-blog.related-blog, .dark-background .forgot-password, .dark-background .collection-sort, .dark-background .filter-wrap:not(:last-child), .dark-background .cart-sidebar-container .cart-sidebar .cart-sidebar-title,.dark-background input[type="text"], .dark-background input[type="email"], .dark-background input[type="url"], .dark-background input[type="password"], .dark-background input[type="search"], .dark-background input[type="number"], .dark-background input[type="tel"], .dark-background input[type="range"], .dark-background input[type="date"], .dark-background input[type="month"], .dark-background input[type="week"], .dark-background input[type="time"], .dark-background input[type="datetime"], .dark-background input[type="datetime-local"], .dark-background input[type="color"], .dark-background textarea, .dark-background .selectric, .dark-background .selling-points {
	border-color: rgba(255,255,255,.08);
}

.dark-background .gui-input input, .dark-background .gui-text textarea {
  border-color: rgba(255,255,255,.08) !important;
}

.ui-slider-horizontal .ui-slider-handle {
  background-color: #3c3c3c;
}

h1, h2, h3, h4, h5, h6, .gui-page-title, .title-font, .gui-block-title, .page-content .yotpo .write-review .yotpo-header .yotpo-header-title, .logo-placeholder {
  font-family: "Cardo", Helvetica, sans-serif;
  color:#3c3c3c;
  font-weight: 400;
    }

body .gui-page-title, body .gui a.gui-bold, body .gui-block-subtitle, body .gui-table thead tr th, body .gui ul.gui-products li .gui-products-title a, body .gui-form label, body .gui-block-title.gui-dark strong, body .gui-block-title.gui-dark strong a, body .gui-content-subtitle, body .gui-content-title, body .gui-block-title {
  color:#3c3c3c;
}

.page-content .yotpo .write-review .yotpo-header .yotpo-header-title {
    }

.featured-block h3, body .gui-block-title strong {
  font-weight: 400;
}

body .snpt-pict-item * {
	font-family: "Overpass", Helvetica, sans-serif;
}

.sidebar .sidebar-filters .filter-title,
.filters-top .filter-title,
.recent-products-wrap .recent-products-title,
#productpage .product-content .specs table td:first-child, body .gui-block-title strong {
	color:#3c3c3c;
}

.button.button-arrow.button-solid, body.hotspot-modal-tm-1 public-modal>.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn {
  background-color: #3c3c3c
}

a:hover,
a:active,
a:focus {
  text-decoration:none;
}

.product-label, body .gui-messages ul, .messages ul, body .gui-messages ul.gui-success {
	background-color: #3b3b3b;
}

body .gui-messages ul, .messages ul, body .gui-messages ul.gui-success {
  border-color: #3b3b3b;
}

.ratings .nc-icon-mini, .page-content .yotpo .yotpo-bottomline .yotpo-icon-star, .page-content .yotpo .yotpo-bottomline .yotpo-icon-half-star, .page-content .yotpo .yotpo-bottomline .yotpo-icon-empty-star, .page-content .yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon, .page-content .yotpo .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-icon, .page-content .yotpo .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-icon, .page-content .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-icon, .page-content .yotpo .yotpo-review .yotpo-header.yotpo-verified-user .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-comment .yotpo-header.yotpo-verified-user .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-question .yotpo-header.yotpo-verified-user .yotpo-icon-circle-checkmark, .page-content .yotpo .yotpo-onsite-upload .yotpo-header.yotpo-verified-user .yotpo-icon-circle-checkmark, body .yotpo .yotpo-bottomline .yotpo-icon-star, body .yotpo .yotpo-bottomline .yotpo-icon-half-star, body .yotpo .yotpo-bottomline .yotpo-icon-empty-star, .page-content .yotpo .write-review .yotpo-header .yotpo-icon, .page-content .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star, .page-content .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star, .page-content .yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star, .page-content .yotpo .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star, .page-content .yotpo .promoted-products-box .promoted-products .yotpo-promoted-product .yotpo-review-stars .yotpo-icon {
  color: #3498db
}

.product-custom-variants-options .custom-variant-picker.active {
    /*border-color: #3498db;*/
}

/*
.hero-element-1,
.hero-element-1 a,
.hero-element-1 h1,
.hero-element-1 h2 {
  color:;
}
.hero-element-2,
.hero-element-2 a,
.hero-element-2 h1,
.hero-element-2 h2 {
  color:;
}
.hero-element-3,
.hero-element-3 a,
.hero-element-3 h1,
.hero-element-3 h2 {
  color:;
}
*/


/* Accent color */
#header .main-header .search .icon,
#footer .newsletter-block form .btn,
.sidebar ul.side-cats li > .more-cats .plus-min:before, .sidebar ul.side-cats li > .more-cats .plus-min:after,
.collection-filter-price .ui-slider-range,
.collection-filter-price:after,
.ui.dropdown .menu>.item:hover,
.ui.dropdown .menu .selected.item, .ui.dropdown.selected,
.tags-wrap .tags .tag.active,
.blog-tags-wrap .blog-tags .blog-tag.active,
.products .product .quickview-button .btn,
.products .product-list .quickview-button .btn,
#footer .main-footer .contact .icon,
.collection-sort .filter-btn,
.active-filters-box .active-filters .active-filter.clear-all label {
  background-color:#3498db;
}

.ui.radio.checkbox input:checked~.box:after, .ui.radio.checkbox input:checked~label:after {
	background-color:#3498db !important;
}

.home-products .tabs a.active,
#footer .main-footer a:hover,
.sidebar ul.side-cats li.active >a,
.collection-sort .pager-text,
.collection-sort .custom-pager ul li.next a, .collection-sort .custom-pager ul li.prev a,
.ui.selection.dropdown>.dropdown.icon,
.categories .category .btn:hover,
#header .main-menu-wide ul li .mega-menu .menus .menu a.title,
#header .topbar ul > li i,
.sb-cats .sb-cats-wrap li.active > a,
.sb-cats .sb-cats-wrap li.active > .more-cats i,
.sb-cats .sb-cats-wrap ul li .hover-cats,
.sb-cats .sb-cats-wrap li > a:hover,
.collection-sort .grid-list ul li.active,
#footer .main-footer .contact .text .title,
#productpage .bundles .bundle .main-product .plus,
#productpage .product-info .discounts ul li span,
.mobile-menu ul li.active > a,
.sb-cats .sb-cats-wrap ul li.active > a,
#header .main-menu-wide ul li .mega-menu .menus .menu a:hover,
.product-usp .usp-title .dot {
  color:#3498db;
}
.ui.checkbox .box:after, .ui.checkbox label:after {
	color:#3498db !important;
}

.collection-filter-price .ui-slider-handle,
.tags-wrap .tags .tag.active,
.blog-tags-wrap .blog-tags .blog-tag.active,
#blog .complete-article .article-box .article-content,
.active-filters-box .active-filters .active-filter.clear-all label {
	border-color:#3498db;
}

#productpage .product-content .titles .title {
	border-bottom-color:#3498db;
}